{% if books %} {% for book in books %}
<tr class="text-md">
  <td class="px-3 py-1.5">{{ book['id'] }}</td>
  <td class="px-3 py-1.5">{{ book['category'] }}</td>
  <td class="px-3 py-1.5">
    <a
      href="{{ url_for('book.view', title=book['title'].replace(' ','-').lower()) }}"
      >{{ book['title'] }}</a
    >
  </td>
  <td class="px-3 py-1.5">{{ book['author'] }}</td>
  <td class="px-3 py-1.5">{{ book['pages'] }}</td>
  <td class="px-3 py-1.5">
    {% if book['is_borrowed'] == 1%}
    <button class="rounded-md p-2 text-warning-600 bg-warning">Borrowed</button>
    {% else %}
    <button class="rounded-md p-2 text-success-600 bg-success">
      Available
    </button>
    {% endif %}
  </td>
</tr>
{% endfor %} {% else %}
<tr>
  <td
    class="text-center h-40 text-lg font-semibold text-heading-light"
    colspan="6"
  >
    No book found.
  </td>
</tr>
{% endif %}
