{% if books %} {% for book in books %}
<tr class="text-md">
  <td class="px-3 py-1.5" data-cell="Book ID">{{ book['id'] }}</td>
  <td class="px-3 py-1.5" data-cell="Category">{{ book['category'] }}</td>
  <td class="px-3 py-1.5" data-cell="Book Title">
    <a
      href="{{ url_for('book.view', title=book['title'].replace(' ','-').lower()) }}"
      >{{ book['title'] }} {% if book["category"] == target_category %}
      <span
        class="border border-gray-400 rounded-lg px-2 p-1 text-xs text-gray-500 italic"
        >recommended</span
      >{% endif %}
    </a>
  </td>
  <td class="px-3 py-1.5" data-cell="Author">{{ book['author'] }}</td>
  <td class="px-3 py-1.5" data-cell="Pages">{{ book['pages'] }}</td>
  <td class="px-3 py-1.5" data-cell="Status">
    {% if book['is_borrowed'] == 1%}
    <button
      class="rounded-md min-w-20 p-1 border border-red-600 text-red-600 bg-red-200"
    >
      Borrowed
    </button>
    {% else %}
    <button
      class="rounded-md min-w-20 p-1 font-semibold border border-green-600 text-green-600 bg-green-200"
    >
      Available
    </button>
    {% endif %}
  </td>
</tr>
{% endfor %} {% else %}
<tr>
  <td
    class="text-center h-40 text-lg font-semibold text-heading-light"
    colspan="6"
  >
    No book found.
  </td>
</tr>
{% endif %}
