<tr class="space-y-2.5 animate-pulse">
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-40"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
</tr>
<tr class="space-y-2.5 animate-pulse">
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-40"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
</tr>
<tr class="space-y-2.5 animate-pulse">
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-40"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
</tr>
<tr class="space-y-2.5 animate-pulse">
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-40"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
</tr>
<tr class="space-y-2.5 animate-pulse">
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-40"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
</tr>
<tr class="space-y-2.5 animate-pulse">
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-40"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"></div>
  </td>
  <td class="px-3 py-1.5">
    <div class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"></div>
  </td>
</tr>
