{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block body %}
<body class="font-inter bg-site-light text-sm text-primary-light">
  {% include 'book/partials/header.html' %}
  <div class="px-4">
    <div class="p-4 rounded-2xl shadow-custom bg-table-light">
      <h1 class="text-center text-2xl mb-2 font-bold text-gray-800">
        List of Books
      </h1>
      {% include 'book/partials/table-nav.html' %}
      <div class="overflow-x-auto shadow-custom rounded-2xl">
        {% include 'book/partials/table.html' %}
      </div>
    </div>
  </div>
  {% include 'book/partials/toast-notif.html' %} {% include
  'book/partials/modal.html' %} {% include 'book/partials/add-book-form.html' %}
  <script src="{{ url_for('static', filename='script/main.js') }}"></script>
</body>
{% endblock %}
