{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block body %}
<body class="font-inter bg-site-light text-sm text-primary-light">
  <header class="w-full flex justify-center p-4">
    <div class="max-w-6xl w-full flex justify-between relative">
      <img
        src="{{ url_for('static', filename='images/header-logo.png')}}"
        alt="Logo for Header"
        class="w-32"
      />
      <nav class="flex items-center gap-4">
        {% if g.user %}
        <p>Hello, {{ g.user['username'].capitalize() }}</p>
        <button id="profile-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
        </button>
        <div
          class="flex-col rounded-md border-black absolute bg-blue-800 text-white py-2 top-10 right-0 w-44 z-10 hidden"
          id="profile-menu"
        >
          <a
            class="flex items-center gap-2 p-2 hover:bg-blue-900"
            href="/profile"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
              />
            </svg>
            <p>Profile</p>
          </a>
          <a
            class="flex items-center gap-2 p-2 hover:bg-blue-900"
            href="/auth/logout"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"
              />
            </svg>
            <p>Logout</p>
          </a>
        </div>
        {% else %}
        <ul class="flex gap-4">
          <li>
            <a href="/auth/login">Login</a>
          </li>
          <li>
            <a href="/auth/register">Register</a>
          </li>
        </ul>
        {% endif %}
      </nav>
    </div>
  </header>
  <div class="px-4">
    <div class="p-4 rounded-2xl shadow-custom bg-table-light">
      <h1 class="text-center text-2xl mb-2 font-bold text-gray-800">
        List of Books
      </h1>
      <div class="max-w-7xl mx-auto">
        <div class="flex items-center py-3 justify-between">
          <input
            type="text"
            id="search-box"
            name="q"
            placeholder="Search for books..."
            class="p-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-900 focus:border-blue-900 w-full max-w-xs"
          />
          <div class="flex gap-2">
            <button
              class="flex justify-center items-center px-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300"
            >
              <span>Filter</span>
              <img
                src="{{ url_for('static', filename='images/dropdown.png')}}"
                class="w-7"
              />
            </button>
            <div
              class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg z-10 hidden"
              id="filterdown"
            >
              <div
                class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
              >
                <label class="block py-2">
                  <input type="checkbox" value="Science" class="mr-2" /> Science
                </label>
                <label class="block py-2">
                  <input type="checkbox" value="Medicine" class="mr-2" />
                  Medicine
                </label>
                <label class="block py-2">
                  <input type="checkbox" value="Economics" class="mr-2" />
                  Economics
                </label>
                <label class="block py-2">
                  <input type="checkbox" value="Available" class="mr-2" />
                  Available
                </label>
                <label class="block py-2">
                  <input type="checkbox" value="500+ Pages" class="mr-2" /> 500+
                  Pages
                </label>
              </div>
              <div class="flex justify-center items-center p-2">
                <button
                  id="get-selected"
                  class="px-4 py-2 bg-green-500 text-white rounded-md"
                  onclick="getSelectedOptions()"
                >
                  Save
                </button>
              </div>
              <div id="selected-options" class="mt-4 text-gray-700"></div>
            </div>
          </div>
        </div>
      </div>
      <table class="w-full rounded-2xl overflow-hidden text-sm shadow-custom">
        <thead class="bg-thead-light text-heading-light">
          <tr class="text-left">
            <th class="p-3 rounded-l-xl font-semibold" scope="col">Book ID</th>
            <th class="p-3 font-semibold" scope="col">Category</th>
            <th class="p-3 font-semibold" scope="col">Book Title</th>
            <th class="p-3 font-semibold" scope="col">Author</th>
            <th class="p-3 font-semibold" scope="col">Pages</th>
            <th class="p-3 font-semibold rounded-r-xl" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="text-left text-md" id="books-container">
          {% include 'book/partials/books-table.html' %}
        </tbody>
      </table>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script/main.js') }}"></script>
</body>
{% endblock %}
