{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block body %}
<body class="font-inter bg-site-light text-sm text-primary-light">
  <header class="w-full flex justify-center p-4">
    <div class="max-w-6xl w-full flex justify-between relative">
      <img
        src="{{ url_for('static', filename='images/header-logo.png')}}"
        alt="Logo for Header"
        class="w-32"
      />
      <nav class="flex items-center gap-4">
        {% if g.user %}
        <p>Hello, {{ g.user['username'].capitalize() }}</p>
        <button id="profile-button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
            />
          </svg>
        </button>
        <div
          class="flex-col rounded-md border-black absolute bg-blue-800 text-white py-2 top-10 right-0 w-44 z-10 hidden"
          id="profile-menu"
        >
          <a
            class="flex items-center gap-2 p-2 hover:bg-blue-900"
            href="/profile"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
              />
            </svg>
            <p>Profile</p>
          </a>
          <a
            class="flex items-center gap-2 p-2 hover:bg-blue-900"
            href="/auth/logout"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"
              />
            </svg>
            <p>Logout</p>
          </a>
        </div>
        {% else %}
        <ul class="flex gap-4">
          <li>
            <a href="/auth/login">Login</a>
          </li>
          <li>
            <a href="/auth/register">Register</a>
          </li>
        </ul>
        {% endif %}
      </nav>
    </div>
  </header>
  <div class="px-4">
    <div class="p-4 rounded-2xl shadow-custom bg-table-light">
      <h1 class="text-center text-2xl mb-2 font-bold text-gray-800">
        List of Books
      </h1>
      <p>Time execution: {{ time_execution }}</p>
      <div class="max-w-7xl mx-auto">
        <div class="flex items-center py-3 justify-between">
          <input
            type="text"
            id="search-box"
            name="q"
            placeholder="Search for books..."
            class="p-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-900 focus:border-blue-900 w-full max-w-xs"
          />
          <div class="relative">
            <button
              class="flex justify-center items-center px-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300"
              id="sort-button"
            >
              <span>Sort title by</span>
              <img
                src="{{ url_for('static', filename='images/dropdown.png')}}"
                class="w-7"
              />
            </button>
            <div
              class="absolute right-0 top-8 w-44 bg-white border border-gray-200 rounded-md shadow-lg z-10 p-2 hidden"
              id="sort-dropdown"
            >
              <div>
                <ul class="sort-container">
                  <li
                    class="p-2 hover:bg-gray-100 cursor-pointer"
                    id="cocktail"
                  >
                    Cocktail sort
                  </li>
                  <li
                    class="p-2 hover:bg-gray-100 cursor-pointer"
                    id="insertion"
                  >
                    Insertion sort
                  </li>
                  <li
                    class="p-2 hover:bg-gray-100 cursor-pointer"
                    id="treesort"
                  >
                    Tree sort
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <table class="w-full rounded-2xl overflow-hidden text-sm shadow-custom">
        <thead class="bg-thead-light text-heading-light">
          <tr class="text-left">
            <th class="p-3 rounded-l-xl font-semibold" scope="col">Book ID</th>
            <th class="p-3 font-semibold" scope="col">Category</th>
            <th class="p-3 font-semibold" scope="col">Book Title</th>
            <th class="p-3 font-semibold" scope="col">Author</th>
            <th class="p-3 font-semibold" scope="col">Pages</th>
            <th class="p-3 font-semibold rounded-r-xl" scope="col">Status</th>
          </tr>
        </thead>
        <tbody class="text-left text-md" id="books-container">
          {% include 'book/partials/books-table.html' %}
        </tbody>
        <tbody class="text-left text-md hidden" id="skeleton-container">
          <tr class="space-y-2.5 animate-pulse">
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-40"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
          </tr>
          <tr class="space-y-2.5 animate-pulse">
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-40"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
          </tr>
          <tr class="space-y-2.5 animate-pulse">
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-40"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
          </tr>
          <tr class="space-y-2.5 animate-pulse">
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-40"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
          </tr>
          <tr class="space-y-2.5 animate-pulse">
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-40"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
          </tr>
          <tr class="space-y-2.5 animate-pulse">
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-300 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-40"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 ms-2 bg-gray-200 rounded-full dark:bg-gray-600 w-24"
              ></div>
            </td>
            <td class="px-3 py-1.5">
              <div
                class="h-4 bg-gray-300 rounded-full dark:bg-gray-700 w-32"
              ></div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Sliding Modal From Right-->
  <div id="toast-default" class="flex items-center fixed top-0 right-0 m-4 w-full max-w-xs p-3.5 bg-white rounded-lg shadow" role="alert">
    <div class="absolute top-0 left-0 justify-center w-2 h-16 bg-green-200 rounded-l-full"></div>
    <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 bg-green-200 rounded-3xl ml-4"></div>
    <div class="ms-3 text-sm font-normal">Successfully Sorted.
      <div class="text-xs font-normal">Click to <a href="#" id="view-toast-link" class ="text-green-600 hover:text-green-800 underline">View</a></div>
    </div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white rounded-lg focus:ring-2 p-1.5 inline-flex items-center justify-center h-8 w-8 text-black hover:text-gray-500" data-dismiss-target="#toast-default" aria-label="Close" id="close-toast">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
  </div>
  
  <!-- Modal Popup Details-->
  <div id="default-modal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 flex justify-center items-center bg-white bg-opacity-90">
    <div class="relative bg-white rounded-lg shadow-xl p-6">
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t border-gray-300">
        <h3 class="text-lg font-semibold text-gray-900">
          Sorting Details
        </h3>
        <button id="close-modal" type="button" class="absolute top-4 right-4 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 inline-flex justify-center items-center" data-modal-toggle="timeline-modal">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <div class="p-4 md:p-5">
        <ol class="relative border-l border-gray-200 ms-3.5 mb-4 md:mb-5">
          <li class="mb-10 ms-8">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-gray-100 rounded-full -start-3.5 ring-8 ring-white">
              pic
            </span>
            <h3 class="flex items-start mb-1 text-lg font-semibold text-gray-900">Sorting Algorithm<span class="bg-green-200 text-green-800 text-sm font-medium mr-2 px-2.5 py-0.5 rounded ms-3">Fast</span></h3>
            <div class="py-2 px-3 inline-flex items-center text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 ">
              <p>
                Tree Sort
              </p>
            </div>
          </li>
          <li class="mb-10 ms-8">
            <span class="absolute flex items-center justify-center w-6 h-6 bg-gray-100 rounded-full -start-3.5 ring-8 ring-white">
              pic
            </span>
            <h3 class="flex items-start mb-1 text-lg font-semibold text-gray-900">Time Execution</h3>
            <div class="py-2 px-3 inline-flex items-center text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 ">
              <p>{{ time_execution }}</p>
            </div>
          </li>
        </ol>
        <button id="view-details" class="text-white inline-flex w-full justify-center bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          View Details
        </button>
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='script/main.js') }}"></script>
</body>
{% endblock %}
